/* 	css rules for login.html page
	author: 9231039;
	date: 11-11-16;
	version: 0.1;
*/


@media screen and (min-width: 1500px){
	.modal{
		width: 14%;
	}
	.modal{
		left: 45%; 
	}
}


input[type="submit"]:hover{
	background: rgb(222,78,127);
	box-shadow: gray 0px 2px 5px 1px;
}


.form-footer{
	background: rgb(227,227,227);
	text-align: center;
	padding-right: 0;
	padding-left: 0;
}


.form a{
	display: inline-block;
	text-align: center;
	margin-bottom: 40px;
}

#forget{
	text-align: center;
}

 